.Button {
    margin: 16px;
    font: inherit;
    width: 90px;
    height: 32px;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

.Success {
    background-color: #f5a700;
    border: 1px solid #f5a700;
}

.Unsuccess {
    background-color: #a32020;
    border: 1px solid #a32020;
}

.Button:hover {
    animation: shake 0.5s linear;
}

.Button:disabled {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    color: #8c8c8c;
    cursor: default;
}

@media (min-width: 850px) {
    .Button {
        width: 150px;
        height: 32px;
    }
}

@keyframes shake {
    0% {
        transform: rotate(-14deg);
    }
    20% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-7deg);
    }
    60% {
        transform: rotate(7deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
